@model School

@{
    ViewData["Title"] = "School Information";
    Layout = "_SimpleLayout";
}

<section>
    <h1>@ViewData["Title"]</h1>
    <h2>Name:  @Model.Name</h2>
    <h3>School type: @Model.SchoolType</h3>
    <p> <strong>Foundation year: @Model.CreationDate</strong>  </p>
    <address>
        <p>Address: @Model.Address</p>
        <p>Country: @Model.Country </p>
        <p>City: @Model.City </p>
    </address>
</section>

<!--
    Dinamic props with View data and View bag
    <p> <i> @ViewData["DinamicProp"]</i> </p>
    <p> <i> @ViewBag.DinamicProp </i> </p>
-->

